/** @format */

.nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  padding: 1rem 0.5rem;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.navbar-items:first-child {
  flex: 2;
  color: blue;
  text-align: center;
  padding-top: 0.2rem;
}

.navbar-items:nth-child(2) {
  flex: 4;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  padding: 0.5rem 0 0 1rem;
}

.navbar-items:last-child {
  flex: 3;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}

.navbar-items-contents {
  margin: 0 1.5rem;
}

@media screen and (max-width: 780px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem;
    background-color: red;
  }

  .navbar-items:last-child {
    display: none;
  }
}
