/** @format */
.sidebar {
}

.sidebar-des {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 261px;
  height: 100%;
  background-color: white;
}

/* .sidebar-item {
  display: flex;
  flex-direction: column;
} */

.generate-invoice {
  background-color: green;
  border-radius: 60px;
  color: white;
  text-align: center;
  margin: 2rem 2rem;
  padding: 0.5rem 1rem;
}

.sidebar-item-content {
  margin: 0 1rem 2rem 2rem;
}

.sidebar-share {
  margin-bottom: 0.7rem;
}

.sidebar-share-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.sidebar-share-link-first {
  margin-right: 1rem;
  color: rgb(10, 10, 10);
  font-size: 1.2em;
}

.sidebar-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar-des {
    display: none;
  }

  .sidebar-mob {
    position: fixed;
    display: flex;
    flex-direction: row;
    /* background-color: yellowgreen; */
    /* top: 3rem; */
    height: 100%;
  }

  .sidebar-mob-item-content {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    width: 300px;
    height: 100%;
  }
}
